html {
	font-size: 62.5%;
	
	// @include device-width(10) {
	// 	font-size: 61%;
	// }

	// @include device-width(9) {
	// 	font-size: 60%;
	// }

	// @include device-width(8) {
	// 	font-size: 59%;
	// }

	// @include device-width(7) {
	// 	font-size: 58%;
	// }

	// @include device-width(6) {
	// 	font-size: 57%;
	// }

	// @include device-width(5) {
	// 	font-size: 56%;
	// }

	// @include device-width(4) {
	// 	font-size: 55%;
	// }
}

body {
	background: #FFF;
	color: #333333;
	@include arial;
	@include font-size(13);
	line-height: 1.4;
	min-width: 250px;
	border: 1px solid #e7e7e7;

	// @include device-width(6) {
	// 	@include font-size(12);
	// 	line-height: 1.2;
	// }
}

#wrap {

}

#header {
	position: relative;
	z-index: 1000;	
	padding: 0;
	@include background(linear-gradient(top, #FFF, #d7d7d7));

	@media print {
		display: none;
	}

	> .inner {
		position: relative;
		padding-bottom: 1em;

		.home & {
			padding: 0;
		}
	}

	.logo-container {
		margin: 0 0 0 1em;
		@include transition(all 0.3s ease);
		z-index: 0;
		@include font-size(25);
		vertical-align: bottom;
		width: 20em;
		height: 100px;
		position: relative;

		.home & {
			height: auto;
		}
		
		.description {
			position: absolute;
			bottom: 0;
			left: 120px;
		}
	}

	.logo {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		@include transition(all 0.3s ease);
		background: url(../images/logos/landrover.jpg) no-repeat;
		background-size: contain;
		width: 100px;
		height: 100px;
		text-indent: -9999px;
		display: inline-block;
	}


	.navigation-container {
		position: absolute;
		bottom: 0;
		right: 0;
	
		.mobile-navigation-btn {
			display: none;
			padding: 1em 2em;
			border-right: 1px solid #cecece;
			@include device-width(6) {
				display: block;
			}
		}
	}
	

	.main-navigation {
		margin: 0;

		@include device-width(10) {
			padding-left: 0;
			padding-right: 0;
		}

 		@include device-width(6) {
 			display: none;
 			border-right: none;
 		}
		> ul {
			margin: 0;
			padding: 0;

		    @include device-width(6) {
				text-align: left;
			}
			
			> li {
				float: left;
			 	border-left: 1px solid #b6b6b6;
				position: relative;
				@include transition(all 0.3s ease);
				zoom: 0;

				@include device-width(6) {
					display: block;
				}
				
			
			 	> a {
			 		display: inline-block;
					padding: 1em;
					text-transform: uppercase;
			 		@include font-size(12);
				 	position: relative;
				 	color: #061730;
			 		border-bottom: 2px solid transparent;
			 		font-weight: bold;

				 	@include device-width(10) {
				 		@include font-size(12);
				 	}

				 	@include device-width(9) {
				 		@include font-size(11);
				 	}

				 	// @include device-width(7) {
				 	// 	@include font-size(11);
				 	// }

				 	@include device-width(6) {
				 		display: block;
				 		padding-left: 1em;
				 		padding-right: 1em;
				 	}
			 	}

			 	> a:hover,
			 	&.current_page_parent > a,
			 	&.current-menu-item > a,
			 	&.current-category-ancestor > a,
			 	&.current-page-ancestor > a,
			 	&.current-post-ancestor > a,
			 	&.current-menu-parent > a,
			 	&.current-post-parent > a,
			 	&.current > a {
			 		color: #e05206;
			 		border-bottom: 2px solid #e05206;
			 	}
			}
		} 
	}

}
		
			
#main {
	position: relative;
	z-index: 500;
}
		
#sidebar {}
	
#footer {
	
	@media print {
		display: none;
	}

}


#ajax-page {
	position: relative;
	.loader {
		display: block;
		padding: 10px 0;
		width: 32px;
		height: 32px;
		background: url(../images/icons/loader.gif) no-repeat center center;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -16px - 10px;
		margin-left: -16px;
	}
}

/* =============================================================================
   Pages
   ========================================================================== */


#front-page {

}


#index {
	
}

#single {
	
}

#category {

}


#search {

}

#error {}
