html {
	font-size: 62.5%;
	
	// @include device-width(10) {
	// 	font-size: 61%;
	// }

	// @include device-width(9) {
	// 	font-size: 60%;
	// }

	// @include device-width(8) {
	// 	font-size: 59%;
	// }

	// @include device-width(7) {
	// 	font-size: 58%;
	// }

	// @include device-width(6) {
	// 	font-size: 57%;
	// }

	// @include device-width(5) {
	// 	font-size: 56%;
	// }

	// @include device-width(4) {
	// 	font-size: 55%;
	// }
}

body {
	background: #FFF;
	color: #333333;
	@include arial;
	@include font-size(13);
	line-height: 1.35;
	min-width: 250px;
	border: 1px solid #e7e7e7;

	// @include device-width(6) {
	// 	@include font-size(12);
	// 	line-height: 1.2;
	// }
}

#wrap {
	position: relative;
	z-index: 500;
}

#header {
	position: relative;
	z-index: 1000;	
	padding: 0;
	@include background(linear-gradient(top, #FFF, #d7d7d7));
	@include box-shadow(0 5px 8px -3px rgba(#000, 0.5));

	@media print {
		display: none;
	}

	> .inner {
		position: relative;
		padding-bottom: 1em;

		.home & {
			padding: 0;
		}
	}

	.logo-container {
		margin: 0 0 0 1em;
		@include transition(all 0.3s ease);
		z-index: 0;
		@include font-size(25);
		vertical-align: bottom;
		width: 20em;
		height: 100px;
		position: relative;

		.home & {
			height: auto;
		}
		
		.description {
			position: absolute;
			bottom: 0;
			left: 120px;
		}
	}

	.logo {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		@include transition(all 0.3s ease);
		background: url(../images/logos/landrover.jpg) no-repeat;
		background-size: contain;
		width: 100px;
		height: 100px;
		text-indent: -9999px;
		display: inline-block;
	}


	.navigation-container {
		position: absolute;
		bottom: 0;
		right: 0;
	
		.mobile-navigation-btn {
			display: none;
			padding: 1em 2em;
			border-right: 1px solid #cecece;
			@include device-width(6) {
				display: block;
			}
		}
	}
	

	.main-navigation {
		margin: 0;

		@include device-width(10) {
			padding-left: 0;
			padding-right: 0;
		}

 		@include device-width(6) {
 			display: none;
 			border-right: none;
 		}
		> ul {
			margin: 0;
			padding: 0;

		    @include device-width(6) {
				text-align: left;
			}
			
			> li {
				float: left;
			 	border-left: 1px solid #b6b6b6;
				position: relative;
				@include transition(all 0.3s ease);
				zoom: 0;

				@include device-width(6) {
					display: block;
				}
				
			
			 	> a {
			 		display: inline-block;
					padding: 1em;
					text-transform: uppercase;
			 		@include font-size(12);
				 	position: relative;
				 	color: #061730;
			 		border-bottom: 2px solid transparent;
			 		font-weight: bold;

				 	@include device-width(10) {
				 		@include font-size(12);
				 	}

				 	@include device-width(9) {
				 		@include font-size(11);
				 	}

				 	// @include device-width(7) {
				 	// 	@include font-size(11);
				 	// }

				 	@include device-width(6) {
				 		display: block;
				 		padding-left: 1em;
				 		padding-right: 1em;
				 	}
			 	}

			 	> a:hover,
			 	&.current_page_parent > a,
			 	&.current-menu-item > a,
			 	&.current-category-ancestor > a,
			 	&.current-page-ancestor > a,
			 	&.current-post-ancestor > a,
			 	&.current-menu-parent > a,
			 	&.current-post-parent > a,
			 	&.current > a {
			 		color: #e05206;
			 		border-bottom: 2px solid #e05206;
			 	}
			}
		} 
	}

}
		
			
#main {
	position: relative;
	z-index: 500;
}
		
#sidebar {}
	
#footer {
	
	@media print {
		display: none;
	}

}


#ajax-page {
	position: relative;
	background: #edeced;
	@include background(linear-gradient(top, color-stops(#ceccce, rgba(#ceccce, 0) 4em)), linear-gradient(bottom, color-stops(#ceccce, rgba(#ceccce, 0) 4em)), #edeced);
	
	.loader {
		display: block;
		padding: 10px 0;
		width: 32px;
		height: 32px;
		background: url(../images/icons/loader.gif) no-repeat center center;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -16px;
		margin-left: -16px;
	}
}


#lightbox {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;
	display: none;

	> .overlay {
		display: none;
	}
}

/* =============================================================================
   Pages
   ========================================================================== */


#front-page {

}


#index {
	
}

#single {
	
}

#category {

}


#search {

}

#error {}

#single-episode {


	#video {
		background: url(../images/backgrounds/episode_video.jpg) no-repeat;
		padding: 4em 4em 0 4em;
		.coming-soon {
			.content {
				position: absolute;
				text-align: center;
				top: 50%;
				width: 100%;
				@include translateY(-50%);
				z-index: 200;
			}
		}
	}

	#content {
		padding: 4em 2em;

		.share,
		.notify {
			background: url(../images/backgrounds/episode_share.jpg) no-repeat;
			text-align: center;
			padding: 4em 1em;
			color: #FFF;
		}

		.notify {
			padding: 2em 1em;
		}
	}

	.episode-pagination {
		background: #f3f3f3;
		@include background(linear-gradient(color-stops(#e2e0e3, #e2e0e3 60%, #d2d0d3 62%, #e1dfe2)));
		padding: 3em 0;

		> .container >.inner {
			padding: 0 2em;
		}
		
	}
}

#archive-episode {
	.episode {
		.content {
			color: #FFF;
			padding: 6em 5em;

			.sub-title {
				margin: 1em 0;
				width: 40%;
			}
		}
	}
}